:root{
    --bs-font-sans-serif:'Poppins', sans-serif;
}

.container-xxl{
    max-width: 1530px;
}
body{
    background-color: rgb(255, 255, 255);
}

a{
    color: var(--bs-dark);
}
.home-img{
    border-radius:10px;
    box-shadow: 0px 0px 6px 2px;
    width: 600px;
    height: 500px;
}
.category_link{
    text-align: center;
    display: block;
    text-decoration: none;
    transition: 250ms all;
}
.category_img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    margin-bottom: 10px;
    box-shadow: 0px 3px 6px rgba(0,0,0,.16);
    overflow: hidden;
    border-radius: 8px;
}
.category_img img{
    width: 100%;
    object-fit: cover;
}
.category_img--large{
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    box-shadow: 0px 3px 6px rgba(0,0,0,.16);
    overflow: hidden;
    border-radius: 8px;
}
.category_img--large img{
    /* width: 329px;
    height: 100%; */
    /* background-size: cover; */
    width:fit-content;
    object-fit: cover;
    height: 230px;
}

.section {
    padding: 100px 0;
    position: relative;
}
.gray-bg {
    background-color: #f5f5f5;
}
.about-text h3 {
  font-size: 45px;
  font-weight: 700;
  margin: 0 0 6px;
}

.about-text h6 {
  font-weight: 600;
  margin-bottom: 15px;
}

.about-text p {
  font-size: 18px;
  max-width: 450px;
}
.about-text p mark {
  font-weight: 600;
  color: #20247b;
}

.about-list {
  padding-top: 10px;
}
.about-list .media {
  padding: 5px 0;
}
.about-list label {
  color: #000000;
  font-weight: 600;
  width: 88px;
  margin: 0;
  position: relative;
}
.about-list p {
  margin: 0;
  font-size: 15px;
}

.about-section .counter {
  padding: 22px 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
}
.about-section .counter .count-data {
  margin-top: 10px;
  margin-bottom: 10px;
}
.about-section .counter .count {
  font-weight: 700;
  color: #20247b;
  margin: 0 0 5px;
}
.about-section .counter p {
  font-weight: 600;
  margin: 0;
}
mark {
    background-image: linear-gradient(rgba(252, 83, 86, 0.6), rgba(252, 83, 86, 0.6));
    background-size: 100% 3px;
    background-repeat: no-repeat;
    background-position: 0 bottom;
    background-color: transparent;
    padding: 0;
    color: currentColor;
}
.theme-color {
    color: #fc5356;
}
.dark-color {
    color: #20247b;
}
.media i:hover{
  cursor: pointer;
}
.resultspan{
  font-size: 14px;
}
.resulttitle{
  font-size: 17px;
  font-weight: bold;
}
.btn-orng{
  color: BB3626;
}

.google-btn {
  background-color: #ebebeb;
  color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.google-btn:hover {
  background-color: #357ae8;
  cursor: pointer;
  box-shadow: 0px 0px 20px #e1e1e1;
  transform: scale(1);
  color: rgb(255, 255, 255);
}

.google-btn span {
  font-size: 20px;
}

.btn-up {
  margin-top: 10px;
}